.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto

/.quarto/

# Ignore all slides by default
slides.qmd

# Un-ignore specific slides that have taken place
!01-class/slides.qmd
!02-class/slides.qmd
!03-class/slides.qmd

